@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar{
	display:none;
}

#jsonDataContainer{
	width:100%;
	height:auto;
	padding:10px 20px;
	text-shadow: 1px 1px #ccc;
	text-align: center;
}

i{
	scale:1.5;
	color:red;
	text-shadow: 1.5px 1.5px #111;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}